@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: "Merriweather" sans-serif;
    background-color: rgb(200, 162, 211);
    color: aliceblue;
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: rgb(180, 137, 203);
    color: rgb(213, 196, 213);
    align-items: center;
}

   #logo-img {
    height: 100px;
    width: 100px;
    border-radius: 12px;
   }

   #links {
    display: flex;
    justify-content: space-around;
    width: 50%;
   }


#links a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
border-radius: 6px;
}

#links a:hover {
    border-bottom: 3px solid;
    color: rgb(153, 123, 181);
    transform: scale(1.01);
}